body{
    color:dimgray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: dodgerblue;
    background-color: gray;
    font-size: 50px;
}

h2{
    color: dodgerblue;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #64afed ;
    margin: 0 auto;

}

#cabecera{
    background-color:rgba(0, 191, 255, 0.63);
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.75);
    color: floralwhite;
    font-weight: bold;
    margin: 0px;
    padding: 1em;
}