body{
    color:dimgray;
    text-align: center;
    font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
}

h1{
    color: dodgerblue;
    background-color: gray;
    font-size: 50px;
}

h2{
    color: dodgerblue;
}